@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
	--lightGreen: #a9c4ba;
	--darkGreen: #95b6aa;
}

a{
	color: rgba(0, 0, 0, 0.5);
	&:hover{
		color: rgba(0, 0, 0, 0.7);
		text-decoration: none;
	}
}

body{
	color: #495057;
	background-color: rgb(243, 234, 232);
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5rem;
}

h1{
	font-size: 100px;
}

image{
	height: auto;
}

.theme-color-section{
	height: 50px;
    width: 150px;
	text-align: center;
	padding-top: 5px;
}

.blue-theme-1{
	background-color: #568EA6;
}

.blue-theme-2{
	background-color: #305F72;
}

.peach-theme-1{
	background-color: #FCD0BA;
}

.peach-theme-2{
	background-color: #F1828D;
}

.beige-theme-1{
	background-color: #FAF6F2;
}

.beige-theme-2{
	background-color:#DED1BD;
}

.green-theme-1{
	background-color: #77ACA2;
}

.green-theme-2{
	background-color: #9DBEBB;
}

.purple-theme-1{
	background-color: #816EA7;
}

.purple-theme-2{
	background-color: #B19CD9;
}

.app{
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.circle{
	border-radius: 50px, 50px;
}

.icons{
	color: var(--lightGreen);
	font-size: 35px;
}

.delete-icons{
	color: var(--lightGreen);
	font-size: 30px;
	margin-right: 0 !important;
		&:hover{
			color: var(--darkGreen);
			cursor: pointer;
		}
}

.linked-icons{
	color: var(--lightGreen);
	font-size: 50px;
	margin: 20px !important; 
		&:hover{
			color: var(--darkGreen);
		}
}

.linked-icons-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-radius: 5px 5px;
	box-shadow: 5px 5px 5px lightgray;
	margin-bottom: 10px;
}

.email-container{
	display: flex;
	justify-content: space-between;
	background-color: white;
	border-radius: 5px 5px;
	box-shadow: 5px 5px 5px lightgray;
	padding: 20px;
	margin-bottom: 10px;
}

.form{
	background-color: #d5e9e1;
	border-radius: 0.25rem;
	box-shadow: 5px 5px 7px #a6c2b7;
	padding: 10px;
	margin-bottom: 25px;	
}

.button{
	background-color: #ced4da;
	box-shadow: 3px 3px 3px rgb(165, 164, 164);
	border: none;
		&:hover{
			background-color: #ced4da;
			color: rgba(0, 0, 0, 0.7);
		}
}

.card{
	height: 100%;
	background-color: white;
	border-radius: 5px 5px;
	box-shadow: 5px 5px 5px lightgray;
	color: #495057;
}

.checked{
	color: var(--lightGreen)
}

.image-button{
	&:hover{
		color: #ced4da;
		border: 1px solid #ced4da;
	}
}

.landingPage{
	background-color: var(--lightGreen);
	border-radius: 5px 5px;
	box-shadow: 5px 5px 5px var(--darkGreen);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 40px;
}

.center{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box-styles{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--lightGreen);
	padding-bottom: 40px;
	border-radius: 5px 5px;
	box-shadow: 30px 40px var(--darkGreen);
	height: 100%;
}

.landingPage-row{
	margin-top: 100px;
	gap: 90px;
	height: 200px;
}

.project-image-container{
	display: flex;
	justify-content: center;
	align-items: center;
	:first-child{
		max-height: 250px;
	}
}

.about-container{
	background-color: white;
	border-radius: 5px 5px;
	box-shadow: 5px 5px 5px lightgray;
}

.theme-color-list{
	list-style-type: none;
	padding: 0;
}

.theme-color-list-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.user-site-container{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

// .footer{
// 	position: fixed;
// 	bottom: 0px;
// 	width: 100%;
// }

.zoomCointainer{
	height: 100px; 
	overflow: hidden;
}

.zoom {
	transition: transform .5s ease;
	&:hover{
		transform: scale(1.5);
	}
}

.zoom-colorize {
	transition: transform .5s, filter 1.5s ease-in-out;
	filter: grayscale(100%);
	&:hover{
		filter: grayscale(0);
		transform: scale(1.5);
	}
}

// White (#FCF6F5FF), 
// Vanilla Custard (#F0E1B9FF), 
// Goldfinch (#F3DB74FF) 
// Scarlet Sage (#A13941FF)