@import "~bootstrap/scss/bootstrap";

a{
	color: rgba(0, 0, 0, 0.5);
	&:hover{
		color: rgba(0, 0, 0, 0.7);
		text-decoration: none;
	}
}



body{
	color: #495057;
	background-color: rgb(243, 234, 232);
}

h1{
	font-size: 100px;
}

image{
	height: auto;
}

.icons{
	color: #b4dacc;
	font-size: 35px;
}

.delete-icons{
	color: #b4dacc;
	font-size: 30px;
	margin-right: 0 !important;
		&:hover{
			color: #95b6aa;
			cursor: pointer;
		}
}

.linked-icons{
	color: #b4dacc;
	font-size: 50px;
	margin: 20px !important; 
		&:hover{
			color: #95b6aa;
		}
}

.linked-icons-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-radius: 5px 5px;
	box-shadow: 5px 5px 5px lightgray;
	margin-bottom: 10px;
}

.email-container{
	display: flex;
	justify-content: space-between;
	background-color: white;
	border-radius: 5px 5px;
	box-shadow: 5px 5px 5px lightgray;
	padding: 20px;
	margin-bottom: 10px;
}

.form{
	background-color: #d5e9e1;
	border-radius: 0.25rem;
	box-shadow: 5px 5px 7px #a6c2b7;
	padding: 10px;
	margin-bottom: 25px;	
}

.button{
	background-color: #ced4da;
	box-shadow: 3px 3px 3px rgb(165, 164, 164);
	border: none;
		&:hover{
			background-color: #ced4da;
			color: rgba(0, 0, 0, 0.7);
		}
}

.card{
	height: 100%;
	background-color: white;
	border-radius: 5px 5px;
	box-shadow: 5px 5px 5px lightgray;
	color: #495057;
}

.image-button{
	&:hover{
		color: #ced4da;
		border: 1px solid #ced4da;
	}
}

.landingPage{
	background-color: #b4dacc;
	padding-bottom: 40px;
	border-radius: 5px 5px;
	box-shadow: 40px 70px #95b6aa;
}

.project-image-container{
	display: flex;
	justify-content: center;
	align-items: center;
	:first-child{
		max-height: 250px;
	}
}

.about-container{
	background-color: white;
	border-radius: 5px 5px;
	box-shadow: 5px 5px 5px lightgray;
}

.user-site-container{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer{
	margin-bottom: 50px;
}

// White (#FCF6F5FF), 
// Vanilla Custard (#F0E1B9FF), 
// Goldfinch (#F3DB74FF) 
// Scarlet Sage (#A13941FF)